[dbm_parameters]
db_name = england_landcover
host = database_host
username = username
password = password
port = 5432

[data_dirs]
chess_climate_dir = path\to\ClimateData\chess\
downscaled_climate_dir = path\to\ClimateData\downscaled\
era_reanalysis_climate_dir = path\to\ClimateData\era5
soil_dir = path\to\SoilData\
crop_dir = path\to\CropData\
management_dir = path\to\ManagementData\
parcel_dir = path\to\ParcelData\

[api_host]
url = your_api_host.co.uk
port = 8000